<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tasksfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2b1ca177-8a0a-41ff-8656-a10edb233282/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/TasksFunctionApp</ResourceId>
    <UserName>$TasksFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tasksfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>